body {
    margin: 0px;
    padding: 0px;
    font-family: 'Cabin', sans-serif;
    font-size: 13px;
    color: #000000;
}

#right-border {
    border-right: 3px solid rgb(204,204,204);
    width: 850px;
    height: 900px;
}

#content-container {
    position: absolute;
    float: left;
    top: 100px;
    left: 50px;
    width: 850px;
}

#column-1 {
    margin-left: 50px;
    width: 100px;
    height: 128px;
}

#robot { 
    position: relative;
    top: 14px;
    text-align: right; 
}

#red-long {
    position: absolute;
    top: 144px;
    left: 100px;
}

#column-2 {
    position: absolute;
    top: 0px;
    left: 150px;
    margin-left: 25px;
    width: 350px;
    height: 112px;
    border-bottom: 16px solid rgb(130,130,130);
}

h1, h2 {
    margin: 0px;
    font-family: 'Francois One', sans-serif;
}

.title-block h1 {
    font-size: 60px;
    color: rgb(203,58,39);
    height: 64px;
}

.title-block h2 {
    font-size: 30px;
    color: rgb(130,130,130);
}

#column-3 {
    position: absolute;
    top: 0px;
    left: 500px;
    width: 275px;
    height: 112px;
    border-bottom: 16px solid rgb(130,130,130);
}

.about-block {
    text-align: right;
    font-size: 11px;
}

.about-block h3 {
    margin: 16px 0px 0px 0px;
    font-size: 30px;
    color: rgb(130,130,130);
}

.post-content {
    position: relative;
    left: 150px;
    top: 16px;
    width: 625px;
}
