body {
    margin-top: 100px;
}

#header-image {
    margin-top: 16px;
}

#robot {
    height: 100px;
    width: 100px;
}

address {
    font-size: 15px;
    font-weight: medium;
    color: rgb(130, 130, 130);
}

#name-and-title {
    margin-top: 32px;
    font-family: 'Francois One';
}

h1 {
    color: rgb(203, 58, 39);
    font-size: 60px;
}

#subtitle {
    color: rgb(130, 130, 130);
    font-family: 'Francois One';
    font-size: 30px;
}

#right-border {
    border-right: 3px solid rgb(210,210,210);
    position: absolute;
    left: 850px;
    top: 0px;
    width: 3px;
    height: 2000px;
}

#red-long {
    position: absolute;
    top: 228px;
    left: 100px;
}

.divider-bar {
    border-top: 16px solid rgb(130,130,130);
}

.h2b {
    font-family: 'Francois One';
    font-size: 30px;
    color: rgb(203, 58, 39)
}

ul {
    position: relative;
    left: -14px;
}

li {
    margin-bottom: 0.2em;
}

.job-border {
    border-right: 4px solid rgb(203, 58, 39);
    float: right;
    width: 4px;
    height: 48px;
}

.job-title {
    font-weight: bold;
}

.job-period {
    font-style: italic;
    color: rgb(130, 130, 130);
}

@media print {
    #red-long, .job-border {
        display: none;
    }
}
