---
layout: master
---
<h1>Blog</h1>
{% assign first_post = site.posts.first %}
<div id="post">
  <h2><a href="{{ first_post.url }}">{{ first_post.title }}</a></h2>
  <div id="post_date"><h3>{{ first_post.date | date_to_long_string }}</h3></div>
  {{ first_post.content }}
</div>
<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname = 'plathrop';
  var disqus_url = '{{ first_post.url }}';
  (function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
{% if site.posts.length > 1 %}
<h1>Archive</h1>
<div id="post_list">
  <ul class="posts">
    {% for post in site.posts %}
    <li><span>{{ post.date | date_to_long_string }}</span> &raquo; <a href="{{ post.url }}#disqus_thread">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}
