<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <title>Paul Lathrop</title>
    <link rel="stylesheet" type="text/css"
          href="http://fonts.googleapis.com/css?family=Cabin:500,500italic|Francois+One">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
    <link rel="openid.server" href="http://www.myopenid.com/server">
    <link rel="openid.delegate" href="http://plathrop.myopenid.com/">

  </head>
  <body>
    <!-- Comment that will hopefully tell GitHub to rebuild my page? -->
    <div id="content-area">
      <div id="header">
        <img id="robot" src="/images/robot.png">
        <div class="title-block">
          <h1>EDGE CASES</h1>
          <h2>by PAUL LATHROP</h2>
        </div>
        <div class="about-block">
          <h3>About Paul</h3>
          <a href="/resume.html">Resume</a><br/>
          <a href="http://github.com/plathrop">GitHub</a><br/>
          <a href="https://keybase.io/plathrop">Keybase</a><br/>
          <a href="/pubkey.asc">GPG Public Key</a><br/>
          <a href="/archive.html">Archive</a><br/>
        </div>
      </div>
      <img id="red-long" src="images/red-long.png">
      <div class="divider-bar">
      </div>
      <div class="post-content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
