<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <title>Paul Lathrop</title>
    <link rel="stylesheet" type="text/css" href="css/master.css">
  </head>
  <body>
    <div align="center">
      <div class="outside">
        <div class="inside">
          <img src="images/upper_right_corner.gif" class="ur_corner" align="right" />
          <h1>About Me</h1>
          <ul>
            <li><a href="/resume.html">Resume</a></li>
            <li><a href="http://github.com/plathrop">GitHub</a></li>
            <li><a href="http://twitter.com/greytalyn">Twitter</a></li>
          </ul>
          <img src="images/upper_right_corner.gif" class="ur_corner" align="right" />
          <h1>Blog Posts</h1>
          <div id="post_list">
            {{ content }}
          </div>
        </div>
      </div>
      <div class="footer">
        <span id="bl_corner"><span id="br_corner"><!-- --></span></span>
        <span id="copyright">© 2011 Paul Lathrop. Some rights reserved.</span>
      </div>
    </div>
  </body>
</html>
