<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <title>Paul Lathrop</title>
    <link rel="stylesheet" type="text/css" href="css/master.css">
    <link rel="stylesheet" type="text/css" href="css/syntax.css">
  </head>
  <body>
    <div align="center">
      <div class="outside">
        <div class="inside">
          <img src="images/upper_right_corner.gif" class="ur_corner" align="right" />
          <h1>About Me</h1>
          <ul id="link_list">
            <li>I'm a Systems Engineer by trade. Here's my <a href="/resume.html">Resume</a>.</li>
            <li>I write code, mostly Ops tools. You can see my work on <a href="http://github.com/plathrop">GitHub</a>.</li>
            <li>You can follow me on <a href="http://twitter.com/greytalyn">Twitter</a> if you'd like.</li>
            <li><a href="/archive.html">Archive</a> of historical posts.</li>
          </ul>
          <img src=images/content_bg.gif class=rt_flourish>
          {{ content }}
        </div>
        <div class="footer">
          <span id="bl_corner"><span id="br_corner"><!-- --></span></span>
          <span id="copyright">© 2011 Paul Lathrop. Some rights reserved.</span>
        </div>
      </div>
    </div>
    <script type="text/javascript">
    var disqus_shortname = 'plathrop';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
  </body>
</html>
